@charset "utf-8";
/* CSS Document */
body{
	width: 60%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin: auto;
}
div {
	border-radius: 5px;
	background-color: #f3f3f3;
	padding:20px;
}
